# Compiled executables
kv_server
load_generator

# Object files
*.o
*.out

# C++ IDE/build files
.vscode/
build/

wal_simulation.log
wandb

venv/
wandb/
__pycache__/
*.pyc
load_generator
server
*.exe
*.o
wal_simulation.txt
.DS_Store
Thumbs.db